
/* ------------Colors----------- */

:root {
    --color-primary: #41b6e6;
    --color-secondary: #0072ce;
    --color-content-1: #ffffff;
    --color-content-2: #231f20;
    --color-content-3: #6d6e70;
    --color-content-4: #808080;
    --color-content-5: #61d4f7;
    --color-content-6: #002e5d;
    --color-shadow-1: #000000;
    --color-footer: #404041;
    --color-footer-border: #f4f0ea;
    --color-footer-sub-bg: #e6e7e8;
    --color-footer-sub: #59595c;
}

/* ------------fonts-------------- */

:root {
    --font-heading: 'Montserrat';
    --font-body: 'Roboto', ;

    --avenir-medium: 'avenirMed';
    --avenir-book: 'avenirBook';
    --avenir-roman: 'avenirRoman';
    --avenir-black: 'avenirBlack';
    --avenir-light: 'avenirLight';
}

/* ------------buttons-------------- */

.button-container a {
    padding-right: 38px;
}

.primary-button {
    display: inline-block;
    padding: 7px;
    padding-right: 44px;
    padding-left: .8rem;
    background: transparent;
    color: var(--color-content-1);
    text-decoration: none;
    position: relative;
    font-size: .6rem;
    font-family: var(--avenir-roman);
    border: var(--color-primary) solid 1px;
    font-weight: 500;
    cursor: pointer;
}

.view-btn {
    color: var(--color-secondary);
    border: var(--color-secondary) solid 1px;
    margin-bottom: 4.3rem;

}

.view-btn:hover {
    background-color: var(--color-primary);
    color: var(--color-content-1);

}

.primary-button::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 1.8rem;
    background-color: var(--color-primary);
    top: 50%;
    right: 27px;
    /* vertically center an element */
    transform: translateY(-50%);
}

.view-btn::after {
    background-color: var(--color-secondary);

}

.arr {
    display: inline;
    position: absolute;
    height: .6rem;
    width: .6rem;
    border-top: 1.5px solid var(--color-content-1);
    border-left: 1.5px solid var(--color-content-1);
    transform: rotate(130deg);
    right: 0.7rem;
    top: .5rem;
}

.arr-1 {
    border-top: 1.5px solid var(--color-secondary);
    border-left: 1.5px solid var(--color-secondary);
}

.button-container:hover .arr-1 {
    border-top: 1.5px solid var(--color-content-1);
    border-left: 1.5px solid var(--color-content-1);
}

/* ------ */

.button-container2 {
    margin-top: -9px;
    text-align: start;
    display: flex;
    align-items: center;
}

.primary-button-2 {
    border: none;
    padding-left: 0;
}

.primary-button-2::after {
    background-color: transparent;
}

/* ---- */

.buttonM:hover {
    color: var(--color-primary);
}

.buttonM:hover button {
    border: 1px solid var(--color-content-1);
}

.image-button {
    height: 1.9rem;
    background: url('../../assets/images/learnmore_banner.png');
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--color-primary);
    margin-left: 15px;
    width: 1.9rem;
    background-color:var(--color-primary) ;

}

/* -- */

#menu-3-4 .button-container3 a {
    padding-right: 0;
    color: var(--color-content-1);
}


.view-btn-2::after {
    background: var(--color-content-1);
}

.view-btn-2 {
    border: 1px solid var(--color-content-1);
    margin-top: 30px;
}

.view-btn-2:hover {
    background: var(--color-secondary);
    border: none;
}
.block-btn-div{
    display: flex;
    justify-content: end;
}
.block-btn-div button{
    margin-right: -12px;
}

.block-btn-2{
display: flex;
justify-content: end;
}
.block-btn-3{
    width: 232px;
}
/* -- */

.button-container4 {
    display: flex;
    justify-content: flex-end;
}

.secondary-button {
    color: var(--color-content-4);
    border: none;
    padding: 0;
    align-items: center;
    background: transparent;
    font-size: .6rem;
}

.secondary-button:hover {
    color: var(--color-primary);

}

.button-container4 button {
    background-color: var(--color-primary);
}

.button-container4 :hover button {
    background-color: var(--color-secondary);
    border: var(--color-secondary) solid 1px;

}

#btn-1 {
    margin-right: -12px;
}

.button-container3 a {
    padding-right: 0;
    color: var(--color-secondary);
}

.learn-more-button3 {

    color: var(--color-secondary);
    border: var(--color-secondary) solid 1px;
}

.viewAllbtn:hover {
    color: var(--color-content-1);

    background: var(--color-primary);
    border: var(--color-content-1) solid 1px;

}

.learn-more-button3::after {
    background-color: var(--color-secondary);

}

.learn-more-button3:hover:after {
    background-color: var(--color-content-1);

}
.image-button-background{
    background-color:transparent;
}
.buttonA{
    display: flex;
}
/* --------------- */

body{
    margin-top: 100px;
}

@font-face {
    font-family: avenirMed;
    src: url(../fonts/AvenirMedium.ttf);
}

@font-face {
    font-family: avenirBook;
    src: url(../fonts/AvenirBook.ttf);
}

@font-face {
    font-family: avenirRoman;
    src: url(../fonts/avenir-roman.ttf);
}

@font-face {
    font-family: avenirBlack;
    src: url(../fonts/avenir-black.ttf);
}

@font-face {
    font-family: avenirLight;
    src: url(../fonts/AvenirLight.ttf);
}